@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }

  * {
    margin: 0;
    padding: 0.25rem;
    box-sizing: border-box;
  }
  
  body {
    background-color: #333;
    color: whitesmoke;
    display: grid;
    place-content: center;
    font-size: 150%;
  }
  
  button {
    font-size: 2rem;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .gold {
    color: gold;
  }
}
